<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
        id="net.digitaledu.mifaretest"
        version="1.0.0">

  <name>Mifare Testing</name>

  <engines>
    <engine name="cordova" version=">=1.7.0"/>
    <engine name="cordova-android" version=">=1.8.0"/>
  </engines>

  <asset src="www/js/MifarePlugin.js" target="js/MifarePlugin.js"/>

  <js-module src="www/js/MifarePlugin.js" name="MifarePlugin">
    <clobbers target="MifarePlugin" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MifareTest">
        <param name="android-package" value="net.digitaledu.mifaretest.MifareTest"/>
      </feature>
    </config-file>

    <source-file src="src/android/MifareTest.java" target-dir="src/net/digitaledu/mifaretest/"/>
    <source-file src="src/android/MCReader.java" target-dir="src/net/digitaledu/mifaretest/"/>
  </platform>

</plugin>
